/* Your Website Styles */
body {
	background: url("../img/bg.png");
}


img {
	width: 400px;
}

h1 {
	color: orange;
	font-family: 'Balthazar', serif;
	letter-spacing: 4px;
	text-transform: uppercase;

}

p {
	line-height: 24px;
}

h3 {
	color: #96CF6E;
	font-family: 'Balthazar', serif;

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}